<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org/">
<head th:replace="template :: dochead">
</head>
<body>

	<div th:replace="template :: navigation"></div>
	<div class="container">
		<div class="row">
			<div class="col-sm-1"></div>
			<div class="col-sm-10">
				<h1>Beer Quiz! 🍺</h1>
				<p class="bg-danger" th:if="${error}" th:text="{error}"></p>

				<div>
					<h4>Are you ready to take the beer quiz?</h4>
					<p class="lead">
						<a href="/login">Login</a> or <a href="/register">Register</a> to
						get started!
					</p>
					<hr />
					<!-- MAYBE SOME DESCRIPTION AND AD COPY KINDA STUFF -->
					<p class="text-danger">Crack open a cold one and test your beer
						knowledge!</p>
					<p class="lead">Answer multiple choice questions and build your
						streak as you try to earn the highest score and secure your place
						on the leaderboards as the unquestioned Beer Meister!</p>
					<p class="text-primary">Use your knowledge of beer styles and
						characteristics to correctly answer each question.</p>
					<span class="text-muted">Some helpful abbreviations to know:</span>
					<ul>
						<a href="https://en.wikipedia.org/wiki/Alcohol_by_volume"><li>ABV:
								<b>A</b>lcohol <b>B</b>y <b>V</b>olume
						</li></a>
						<a href="http://www.thebrewenthusiast.com/ibus/">
							<li>IBU: <b>I</b>nternational <b>B</b>itterness <b>U</b>nit
						</li>
						</a>
					</ul>

				</div>

				<div th:replace="template :: footer"></div>
			</div>
			<div class="col-sm-1"></div>
		</div>
	</div>
</body>
</html>