<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org/">
<head th:replace="template :: dochead">
</head>
<body>

	<div th:replace="template :: navigation"></div>
	<div class="container">
		<div class="row">
			<div class="col-sm-1"></div>
			<div class="col-sm-10">
				<h1>Leaderboard 🍺</h1>

				<div th:each="leaderboard, i : ${leaderboard}">
					<!-- TABLE HEADER FOR DIFFICULTY -->
					<h2 th:if="${i.index} == 0" th:text="Easy"></h2>
					<h2 th:if="${i.index} == 1" th:text="Medium"></h2>
					<h2 th:if="${i.index} == 2" th:text="Hard"></h2>
					<!-- BEGIN TABLE -->
					<table class="table-striped table-condensed" width="100%">
						<!-- COLUMN NAMES -->
						<thead>
							<tr>
								<th>#</th>
								<th>User</th>
								<th>Score</th>
								<th>Date</th>
							</tr>
						</thead>
						<!-- TABLE ROWS -->
						<tr th:each="quiz, i : ${leaderboard}" th:object="${quiz}">
							<td th:text="${i.index} + 1"></td>
							<td th:text="*{quizTaker}"></td>
							<td th:text="*{score}"></td>
							<td th:text="*{#dates.format(quizTime, 'MMM dd, yyyy')}"></td>
						</tr>
					</table>
					<hr />
				</div>
			</div>
			<div class="col-sm-1"></div>
		</div>

	</div>
</body>
</html>