<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org/">
<head th:replace="template :: dochead">
</head>
<body>

	<div th:replace="template :: navigation"></div>
	
	<h1>Registration</h1>

	<form method="post">
		<table>
			<tr>
				<td>Username</td>
				<td><input type="text" name="username" th:value="${username}"></input></td>
				<td class="error" th:text="${username_error}"></td>
			</tr>
			<tr>
				<td>Password</td>
				<td><input type="password" name="password"></input></td>
				<td class="error" th:text="${password_error}"></td>
			</tr>
			<tr>
				<td>Verify Password</td>
				<td><input type="password" name="verify"></input></td>
				<td class="error" th:text="${verify_error}"></td>
			</tr>
		</table>
		<button type="submit">Register</button>
	</form>

</body>
</html>