<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org/">
<head th:fragment="dochead">
	<link th:href="@{/css/normalize.css}" rel="stylesheet" />
	<link th:href="@{/css/quiz-styles.css}" rel="stylesheet" />
	<title>Beer Quiz</title>
</head>

<body>

<nav th:fragment="navigation">
	<ul id="user-account">
	    <li><a href="/login">login</a></li>
	    <li><a href="/logout">logout</a></li>
	</ul>
	<ul>
        <li><a href="/">home</a></li>
        <li><a href="quiz/newquiz">new quiz</a></li>
        <li><a href="/leaderboard">leaderboard</a></li>
    </ul>
</nav>

</body>
</html>